<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <File name="DebugFile" fileName="logs/debug.log" append="true">
      <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
    </File>

    <File name="InfoFile" fileName="logs/info.log" append="true">
      <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
    </File>

    <File name="WarnFile" fileName="logs/warn.log" append="true">
      <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
    </File>

    <File name="ErrorFile" fileName="logs/error.log" append="true">
      <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="info">
      <!--<AppenderRef ref="ConsoleAppender"/>-->
      <AppenderRef ref="DebugFile"/>
      <AppenderRef ref="InfoFile"/>
      <AppenderRef ref="WarnFile"/>
      <AppenderRef ref="ErrorFile"/>
    </Root>
  </Loggers>
</Configuration>
